section#shadow-host-companion {
    display: none;
}
.red{
    color:red;
}
.blue-Step{
    color: #252775;
    font-weight: bold;
}
a.DkactiveItem {
    color: #2e3192 !important;
}
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* margin: 0; */
  }
img.food-img-popup {
    border-radius: 10px;
}

/* //For Event CSS START */
.seat {
    color: #1ea83c;
    border:1px solid #1ea83c;
    height: 40px;
    width: 78px;
    margin: 3px;
    cursor: pointer;
    text-align: center;
    line-height: 37px;
}
.seat:hover {
    color: #fff;
    background-color: #1ea83c;
}
.seat.checked{
    color: #fff;
    background-color: #1ea83c;
}
input.seat-checkbox {
    visibility: hidden;
    height: 0px;
    width: 0px;
}
.seat.booked {
    background: darkred;
    opacity: 0.4;
    border: 1px solid darkred;
    color: white;
    font-size: 15px;
}
/* //For Event CSS END */