section#shadow-host-companion {
    display: none;
}
.red{
    color:red;
}
a.DkactiveItem {
    color: #2e3192 !important;
}
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* margin: 0; */
  }
img.food-img-popup {
    border-radius: 10px;
}